
{%- block form_errors -%}
    {%- if errors|length > 0 -%}

        {%- for error in errors -%}
            <div class="alert alert-warning alert-dismissable alert-condensed">
                <i class="fa fa-exclamation-triangle append-icon"></i>
                <strong>{{ error.message }}</strong>

            </div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}
