<!DOCTYPE html>
<html>
<head>
<title>Venedor - Bootstrap Ecommerce Template Preview - ThemeForest</title>
<meta name="description" content="Responsive Ecommerce Theme, Responisve Bootstrap Ecommerce Theme" />
<meta content="Magento themes, magento templates, responsive themes, ecommerce theme, responsive bootstrap themes, bootstrap themes" name="keywords"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="skin/select/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="skin/select/images/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="skin/select/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="skin/select/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="skin/select/js/html5shiv.js"></script>
<script type="text/javascript" src="skin/select/js/respond.min.js" ></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="skin/select/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="skin/select/css/bootstrap-responsive.css"/>
<link rel="stylesheet" type="text/css" href="skin/select/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT%20Sans' rel='stylesheet' type='text/css'>

<!-- BEGIN GOOGLE ANALYTICS CODEs -->
<script type="text/javascript">
//<![CDATA[
    var _gaq = _gaq || [];
    
_gaq.push(['_setAccount', 'UA-44596981-1']);
_gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

//]]>
</script>
<!-- END GOOGLE ANALYTICS CODE -->

</head>
<body>
    <header>
        <h1 class="logo">
            <a href="green/index.html" title="Venedor Ecommerce Template">
                <img src="skin/select/images/logo.png" alt="Venedor Ecommerce Template"/>
            </a>
        </h1>
        <h2>Premium Bootstrap Ecommerce Template</h2>
        <p>Choose your Venedor to suit your needs and enjoy exquisite design and endless possibilities.</p>
    </header>
    <section>
        <div class="container">
            <div class="row-fluid">
                <div class="span3 store green">
                    <a href="green/index.html" target="blank" class="store-link">
                        <img src="skin/select/images/green.png" alt="Venedor Green Demo"/>
                        <h3>Demo #1</h3>
                        <ul class="features">
                            <li>With Sequence Slider</li>
                            <li>Responsive & Retina Ready</li>
                        </ul>
                    </a>
                </div>
                <div class="span3 store blue">
                    <a href="blue/index.html" target="blank" class="store-link">
                        <img src="skin/select/images/blue.png" alt="Venedor Blue Demo"/>
                        <h3>Demo #2</h3>
                        <ul class="features">
                            <li>With Fraction Slider</li>
                            <li>Responsive & Retina Ready</li>
                        </ul>
                    </a>
                </div>
                <div class="span3 store orange">
                    <a href="orange/index.html" target="blank" class="store-link">
                        <img src="skin/select/images/orange.png" alt="Venedor Orange Demo"/>
                        <h3>Demo #3</h3>
                        <ul class="features">
                            <li>With BxSlider</li>
                            <li>Responsive & Retina Ready</li>
                        </ul>
                    </a>
                </div>
                <div class="span3 store pink">
                    <a href="pink/index.html" target="blank" class="store-link">
                        <img src="skin/select/images/pink.png" alt="Venedor Pink Demo"/>
                        <h3>Demo #4</h3>
                        <ul class="features">
                            <li>With Revolution Slider ($15 value)</li>
                            <li>Responsive & Retina Ready</li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="actions">
                <a href="http://themeforest.net/item/venedor-premium-responsive-ecommerce-theme/5799996?ref=SW-THEMES" class="btn btn-large">BUY VENEDOR!</a>
            </div>
        </div>
    </section>
</body>
</html>