{% extends "TroiswaBugBundle::layout.html.twig" %}

{% block content %}

<h1>Ceci est une page custom</h1>

<>Est-ce que je suis connecté

{% if connected == true %}
  Oui
{% else %}
  Non
{% endif %}

</p>

{% endblock %}