{% extends "TroisWABackBundle::layout.html.twig" %}


{% block title %}Contact{% endblock %}


{% block breadcrumb %} Contact{% endblock %}


{% block content %}
    {{ parent() }}
    <p>Nouveau contenu</p>

{% endblock %}


