{% extends "TroisWABackBundle::layoutBo2.html.twig" %}

{% block page %} Categories {% endblock %}

{% block content %}
<h1> Products for category {{ id }} </h1>

    <div class="content-grid column-xs-3 column-sm-4 column-md-5 column-lg-6 height-xs-4">
        <ul class="list-wrapper">
            <li> <a href="#">
                    <div class="menu-icon"><img src="http://vignette1.wikia.nocookie.net/parody/images/3/33/Stuart_gulitar_minions_4.jpg/revision/latest?cb=20150507162458" alt="example image"></div>
                </a>
                <div class="menu-text"> Gabriella Montagna
                    <div class="menu-info">
                        <div class="menu-date">San Diego</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
            <li class="warning"> <a href="#">
                    <div class="menu-icon"><img src="http://cdn2.bigcommerce.com/server5400/5exu0/products/803/images/16671/wind_n_sun_skypals_minion_stuart_8_43258_70644_3__03637.1392072463.1280.1280.jpg?c=2" alt="example image"></div>
                </a>
                <div class="menu-text"> Jonathan Fuzzy
                    <div class="menu-info">
                        <div class="menu-date">Seattle</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
            <li> <a href="#">
                    <div class="menu-icon"><img src="http://opowae.info/wp-content/uploads/2015/07/stuart_the_minion_wallpaper.jpg" alt="example image"></div>
                </a>
                <div class="menu-text"> Sakura Hinata
                    <div class="menu-info">
                        <div class="menu-date">Hawaii</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
            <li> <a href="#">
                    <div class="menu-icon"><img src="http://images.internetgiftstore.com/images/products/1411567757-45221400.jpg" alt="example image"></div>
                </a>
                <div class="menu-text"> Rikudou Sennin
                    <div class="menu-info">
                        <div class="menu-date">Las Vegas</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
            <li> <a href="#">
                    <div class="menu-icon"><img src="http://images.internetgiftstore.com/images/products/1411567757-45221400.jpg" alt="example image"></div>
                </a>
                <div class="menu-text"> Kim Kardiosun
                    <div class="menu-info">
                        <div class="menu-date">New York</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
            <li> <a href="#">
                    <div class="menu-icon"><img src="http://images.internetgiftstore.com/images/products/1411567757-45221400.jpg" alt="example image"></div>
                </a>
                <div class="menu-text"> Brad Pita
                    <div class="menu-info">
                        <div class="menu-date">Seattle</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
            <li> <a href="#">
                    <div class="menu-icon"><img src="http://images.internetgiftstore.com/images/products/1411567757-45221400.jpg" alt="example image"></div>
                </a>
                <div class="menu-text"> Celline Dior
                    <div class="menu-info">
                        <div class="menu-date">Los Angeles</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
            <li> <a href="#">
                    <div class="menu-icon"><img src="http://images.internetgiftstore.com/images/products/1411567757-45221400.jpg" alt="example image"></div>
                </a>
                <div class="menu-text"> Goerge Bruno Marz
                    <div class="menu-info">
                        <div class="menu-date">Las Vegas</div>
                        <div class="menu-action"> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Approve" class="menu-action-icon vd_green vd_bd-green"> <i class="fa fa-eye"></i> </span> <span data-placement="bottom" data-toggle="tooltip" data-original-title="Reject" class="menu-action-icon vd_red vd_bd-red"> <i class="fa fa-times"></i> </span> </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>



{% endblock %}